@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.main-container {
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 50%;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    width: 100%;
    height: 20%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container-card {
    font-family: 'Red Hat Display', sans-serif;
    border: 1px hsl(30, 38%, 92%) solid;
    width: 25rem;
    height: 35rem;
    border-radius: 0.8rem;
    background-color: hsl(225, 100%, 98%);
}

#first-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

#second-item h2 {
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    color: hsl(223, 47%, 23%);
}

#second-item p {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: hsl(224, 23%, 55%);
}

#third-item {
    padding: 0.5rem 1.5rem;
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

#third-item h5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#third-item p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: hsl(224, 23%, 55%);
}

#third-item a {
    cursor: pointer;
    margin-left: 3rem;
    font-size: 0.875rem;
}

#third-item a:hover {
    color: hsl(224, 23%, 55%);
}

#fourth-item {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 1.5rem;
}

#fourth-item button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 2.5rem;
    width: 100%;
    border-radius: 0.75rem;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

#fourth-item button:hover {
    background-color: hsl(223, 47%, 23%);

}

#fifth-item {
    margin-top: 1.5rem;
}

#fifth-item button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    font-weight: 900;
    background-color: hsl(225, 100%, 98%);
    color: hsl(224, 23%, 55%);
    cursor: pointer;
}

#fifth-item button:hover {
    color: black;
}