@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.main-container {
    background-image: url(../images/pattern-background-desktop.svg);
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container-card {
    font-family: 'Red Hat Display', sans-serif;
    border: 1px hsl(30, 38%, 92%) solid;
    width: 25rem;
    height: 35rem;
    border-radius: 0.8rem;
    background-color: hsl(225, 100%, 98%);
}

#first-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

#second-item h2 {
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color: hsl(223, 47%, 23%);
}

#second-item p {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: hsl(224, 23%, 55%);
}

#third-item {
    display: flex;
    padding: 1rem 3rem;
    gap: 0.5rem;
}